#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* still using this format for legend */
#legend {
  width: 14rem ;
  height: 'auto'; 
  padding-left: 1rem;
  background-color: #f0f0f093;
  /* overflow-y: auto; Enable scrolling if legend content is long */
}

#legend h3 {
  margin-top: 0.7rem;
  margin-bottom: 0.2rem; 
  font-size: 1rem;
  padding-left: 0.5rem;
  text-align: left;
}

#legend ul {
  list-style: none; /* Remove default list bullets */
  padding: 0;
}

#legend li {
  /* margin-bottom: 0.2rem; */
  display: flex; /* Use flexbox for legend item layout */
  align-items: center; /* Vertically align items */
 
}

